.carddemoBasicUsage(ng-controller='CardCtrl' ng-cloak='')
  md-content.md-padding(
    layout='row'
    layout-wrap=''
    layout-align='center start'
    layout-xs='column'
  )
    div(flex=50 flex-sm=100 flex-xs=100 layout='column')
      md-card
        md-card-title
          md-card-title-text
            span.md-headline Card with image
            span.md-subhead Large
          md-card-title-media
            .md-media-lg.card-media
        md-card-actions(layout='row' layout-align='end center')
          md-button Action 1
          md-button Action 2
      md-card
        md-card-title
          md-card-title-text
            span.md-headline Card with image
            span.md-subhead Extra Large
        md-card-content(layout='row' layout-align='space-between')
          .md-media-xl.card-media
          md-card-actions(layout='column')
            md-button.md-icon-button(aria-label="Favorite")
              md-icon(md-svg-icon='img/icons/favorite.svg')
            md-button.md-icon-button(aria-label="Settings")
              md-icon(md-svg-icon='img/icons/menu.svg')
            md-button.md-icon-button(aria-label="Share")
              md-icon(md-svg-icon='img/icons/share-arrow.svg')
    div(flex=50 flex-sm=100 flex-xs=100 layout='column')
      md-card
        md-card-title
          md-card-title-text
            span.md-headline Card with image
            span.md-subhead Small
          md-card-title-media
            .md-media-sm.card-media
        md-card-actions(layout='row' layout-align='end center')
          md-button Action 1
          md-button Action 2
      md-card
        md-card-title
          md-card-title-text
            span.md-headline Card with image
            span.md-subhead Medium
          md-card-title-media
            .md-media-md.card-media
        md-card-actions(layout='row' layout-align='end center')
          md-button Action 1
          md-button Action 2
